Upload ALL Images to Cloudant.txt
[{"id":"c577e553.54a55","type":"exec","z":"8e04a1cf.6dff3","command":"/home/pi/listDir.sh","addpay":true,"append":"","useSpawn":"","timer":"","name":"","x":325.5,"y":181.6999969482422,"wires":[["f6746c5c.f145c"],[],[]]},{"id":"d0fef9d2.a2212","type":"inject","z":"8e04a1cf.6dff3","name":"Start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":130.49998474121094,"y":181.39999389648438,"wires":[["c577e553.54a55"]]},{"id":"f6746c5c.f145c","type":"split","z":"8e04a1cf.6dff3","name":"","splt":"\\n","x":537.5,"y":170.40000915527344,"wires":[["831a8e61.7bd2b8"]]},{"id":"831a8e61.7bd2b8","type":"delay","z":"8e04a1cf.6dff3","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":242.49998474121094,"y":372.5999755859375,"wires":[["90dd9315.3525b8"]]},{"id":"b093b29f.11dc98","type":"file in","z":"8e04a1cf.6dff3","name":"Read Image File","filename":"","format":"","x":614.2000122070312,"y":371.20001220703125,"wires":[["7186f14f.993bd8"]]},{"id":"ee31bd74.456c1","type":"debug","z":"8e04a1cf.6dff3","name":"","active":true,"console":"false","complete":"payload","x":925.9000701904297,"y":485.80003356933594,"wires":[]},{"id":"8dd92e46.e49fe8","type":"template","z":"8e04a1cf.6dff3","name":"Upload","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Uploading image to Cloudant","x":752.1999969482422,"y":486.40000915527344,"wires":[["ee31bd74.456c1"]]},{"id":"e991a43a.71cc48","type":"cloudant out","z":"8e04a1cf.6dff3","name":"Inspection Image Cloudant","cloudant":"81997234.c0688","database":"inspectionimage","service":"_ext_","payonly":true,"operation":"insert","x":840.6999969482422,"y":625.1999969482422,"wires":[]},{"id":"7e75aa52.c9aed4","type":"function","z":"8e04a1cf.6dff3","name":"Set Content-Type header","func":"msg.payload = {\n//  \"_id\" : flow.get(\"filename\"),\n  \"_attachments\": {\n    \"Inspection0007\" : {\n      \"content_type\":\"image/jpeg\",\n      \"data\": msg.payload\n    }\n  }\n}\n\n//msg.payload._id = flow.get(\"filename\");\n\nreturn msg;","outputs":1,"noerr":0,"x":436.40000915527344,"y":518.7999725341797,"wires":[["30cb0925.67b98e","5593e7ab.b62d7"]]},{"id":"7186f14f.993bd8","type":"base64","z":"8e04a1cf.6dff3","name":"Convert image to Base64","x":278.90000915527344,"y":555.7999877929688,"wires":[["7e75aa52.c9aed4"]]},{"id":"90dd9315.3525b8","type":"function","z":"8e04a1cf.6dff3","name":"Set Filename","func":"//msg.filename = JSON.stringify(msg.payload);\nmsg.filename = String(msg.payload);\n\nflow.set(\"filename\", msg.filename);\n\nreturn msg;","outputs":1,"noerr":0,"x":400.5,"y":371.4000244140625,"wires":[["cac2eb1d.8051a","b093b29f.11dc98"]]},{"id":"cac2eb1d.8051a","type":"debug","z":"8e04a1cf.6dff3","name":"","active":false,"console":"false","complete":"filename","x":563.2000122070312,"y":319.20001220703125,"wires":[]},{"id":"30cb0925.67b98e","type":"delay","z":"8e04a1cf.6dff3","name":"","pauseType":"delay","timeout":"6","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":622.4999847412109,"y":560.7999725341797,"wires":[["8dd92e46.e49fe8","e991a43a.71cc48"]]},{"id":"5593e7ab.b62d7","type":"debug","z":"8e04a1cf.6dff3","name":"","active":false,"console":"false","complete":"true","x":602.5,"y":463.79998779296875,"wires":[]},{"id":"1b2621fd.32a006","type":"comment","z":"8e04a1cf.6dff3","name":"Stop saving to Cloudant","info":"","x":744.5,"y":661.4000244140625,"wires":[]},{"id":"81997234.c0688","type":"cloudant","z":"","host":"f51044e2-b6f7-4f17-b25e-68e522c136bf-bluemix.cloudant.com","name":"Bluemix Cloudant"}]