Upload Batch Images to Cloudant.txt
[{"id":"39199ed2.208272","type":"exec","z":"3c6f9908.f8531e","command":"/home/pi/listTempDir.sh","addpay":true,"append":"","useSpawn":"","timer":"","name":"","x":318.20001220703125,"y":81.19999694824219,"wires":[["d9a8e106.31bbf8"],[],[]]},{"id":"d9a8e106.31bbf8","type":"split","z":"3c6f9908.f8531e","name":"","splt":"\\n","x":510.20001220703125,"y":69.90000915527344,"wires":[["5033546e.16dddc"]]},{"id":"5033546e.16dddc","type":"delay","z":"3c6f9908.f8531e","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":215.1999969482422,"y":272.0999755859375,"wires":[["32a71c13.41880c"]]},{"id":"f3170eab.adf1d8","type":"file in","z":"3c6f9908.f8531e","name":"Read Image File","filename":"","format":"","x":586.9000244140625,"y":270.70001220703125,"wires":[["80a90d08.4406e"]]},{"id":"ccf22fc1.c1f7e8","type":"debug","z":"3c6f9908.f8531e","name":"","active":true,"console":"false","complete":"payload","x":898.6000823974609,"y":385.30003356933594,"wires":[]},{"id":"2cc84938.32b5f6","type":"template","z":"3c6f9908.f8531e","name":"Upload","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Uploading image to Cloudant","x":724.9000091552734,"y":385.90000915527344,"wires":[["ccf22fc1.c1f7e8"]]},{"id":"3ed8ee90.7200ea","type":"cloudant out","z":"3c6f9908.f8531e","name":"Inspection image Cloudant","cloudant":"81997234.c0688","database":"inspectionimage","service":"_ext_","payonly":true,"operation":"insert","x":857.4000244140625,"y":469.70001220703125,"wires":[]},{"id":"f7cf6caa.c03cd8","type":"function","z":"3c6f9908.f8531e","name":"Set Content-Type header","func":"msg.payload = {\n//  \"_id\" : flow.get(\"filename\"),\n  \"_attachments\": {\n    \"Inspection0007\" : {\n      \"content_type\":\"image/jpeg\",\n      \"data\": msg.payload\n    }\n  }\n}\n\n//msg.payload._id = flow.get(\"filename\");\n\nreturn msg;","outputs":1,"noerr":0,"x":409.1000213623047,"y":418.2999725341797,"wires":[["e262c91c.745ad","2cc84938.32b5f6","3ed8ee90.7200ea"]]},{"id":"80a90d08.4406e","type":"base64","z":"3c6f9908.f8531e","name":"Convert image to Base64","x":251.6000213623047,"y":455.29998779296875,"wires":[["f7cf6caa.c03cd8"]]},{"id":"32a71c13.41880c","type":"function","z":"3c6f9908.f8531e","name":"Set Filename","func":"//msg.filename = JSON.stringify(msg.payload);\nmsg.filename = String(msg.payload);\n\nflow.set(\"filename\", msg.filename);\n\nreturn msg;","outputs":1,"noerr":0,"x":373.20001220703125,"y":270.9000244140625,"wires":[["36383b74.7a85b4","f3170eab.adf1d8"]]},{"id":"36383b74.7a85b4","type":"debug","z":"3c6f9908.f8531e","name":"","active":false,"console":"false","complete":"filename","x":535.9000244140625,"y":218.70001220703125,"wires":[]},{"id":"e262c91c.745ad","type":"debug","z":"3c6f9908.f8531e","name":"","active":false,"console":"false","complete":"true","x":575.2000122070312,"y":363.29998779296875,"wires":[]},{"id":"5c8d34df.fd47dc","type":"comment","z":"3c6f9908.f8531e","name":"Stop saving to Cloudant","info":"","x":852.2000122070312,"y":508.9000244140625,"wires":[]},{"id":"be3981df.672ce","type":"http in","z":"3c6f9908.f8531e","name":"/uploadImages","url":"/uploadImages","method":"get","swaggerDoc":"","x":113.5,"y":81.39999389648438,"wires":[["39199ed2.208272"]]},{"id":"81997234.c0688","type":"cloudant","z":"","host":"f51044e2-b6f7-4f17-b25e-68e522c136bf-bluemix.cloudant.com","name":"Bluemix Cloudant"}]